<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Meus investimentos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let investiment of investiments">
                    <card-investiment [investiment]="investiment" (click)="investimentDetails(investiment)">
                    </card-investiment>
                </ion-col>
            </ion-row>
        </ion-grid>
        <fab-button (navigateTo)="navigate($event)" boundary="#container"></fab-button>
    </div>
</ion-content>