<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>Editar investimento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h2 class="title">Edite seu investimento</h2>
                </ion-col>
            </ion-row>
            <form [formGroup]="investimentForm" (ngSubmit)="editInvestiment()">
                <ion-row>
                    <ion-col size="12">
                        <custom-input label="Ticket" [initialValue]="investimentParams.ticket"
                            (fieldOutput)="fillForm('ticket', $event)">
                        </custom-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input label="Operação" [initialValue]="investimentParams.operation"
                            (fieldOutput)="fillForm('operation', $event)">
                        </custom-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-date-picker label="Data" [initialValue]="investimentParams.date"
                            (fieldOutput)="fillForm('date', $event)"></custom-date-picker>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input label="Quantidade" [initialValue]="investimentParams.qtd"
                            (fieldOutput)="fillForm('qtd', $event)">
                        </custom-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input-money label="Cota" [initialValue]="investimentParams.quota"
                            (fieldOutput)="fillForm('quota', $event)">
                        </custom-input-money>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input-money label="Cota média" [initialValue]="investimentParams.averageQuota"
                            (fieldOutput)="fillForm('averageQuota', $event)">
                        </custom-input-money>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input label="Segmento" [initialValue]="investimentParams.segment"
                            (fieldOutput)="fillForm('segment', $event)">
                        </custom-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input-money label="Cota atual" [initialValue]="investimentParams.currentQuota"
                            (fieldOutput)="fillForm('currentQuota', $event)">
                        </custom-input-money>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input-money label="Cota alvo" [initialValue]="investimentParams.targetQuota"
                            (fieldOutput)="fillForm('targetQuota', $event)">
                        </custom-input-money>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <custom-input label="Upside1" [initialValue]="investimentParams.upside"
                            (fieldOutput)="fillForm('upside1', $event)">
                        </custom-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-button color="primary" class="btn" expand="block" type="submit">Salvar</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>
    </div>
</ion-content>